@charset "UTF-8";
/* ----------------------------------------------- 메인페이지 기존

        .navbar-nav {
           white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .nav-item {
           white-space: nowrap;
            margin: 0 10px;
        }

        .nav-link {
           white-space: nowrap;
            text-decoration: none;
            color: black;
        }
  
        #nav-rigth {
            margin-left: auto;
            white-space: nowrap;
           color: white;
        }
        img {
			max-width: 50vh;
			max-height:50vh;		 
		}
 -------------------------------------- */

.navbar_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: #000;
  z-index: 999;
  animation: navbarBottom 1s forwards;
}
.navbar_links {
  display: flex; /* Flexbox를 사용하여 자식 요소들을 수평으로 배치 */
  justify-content: center; /* 수평 중앙 정렬 (선택 사항) */
  padding: 0; /* 기본 패딩 제거 (필요에 따라) */
  margin: 0; /* 기본 마진 제거 (필요에 따라) */
}

li{
	list-style-type: none; /* 기본 목록 기호 제거 */
}
ul{
	list-style-type: none; /* 기본 목록 기호 제거 */
}
.navbar_links a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
  list-style-type: none; /* 기본 목록 기호 제거 */
  margin: 20px; /* 항목 간의 간격 설정 */
}


.navbar_links a::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: red;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.navbar_links a::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: blue;
  color : white;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.navbar_links a:hover::before {
  width: 100%;
  left: 0;
  
}

.navbar_logo {
  margin-left: 10%;
  text-decoration: none;
  color: #000;
  font-size: 2.3rem;
  font-weight: 500;
}

.navbar_scroll {
  background-color: #fff;
  z-index: 5;
  border-bottom: 1px solid gray;
}

.navbar_scroll div a {
  color: black;
}

.navbar_scroll a {
  color: black;
}
@keyframes navbarBottom {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }  
}

  
/* -------------------------------------- 

.bg-dark p-4 .navbar navbar-expand-lg bg-body-tertiary{
	
background-color:  black;
} */
