@charset "UTF-8";
	body {
	    font-family: Arial, sans-serif;
	    background-image: url("http://localhost:8080/myJSPDB/img/background.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    /* background-color: lightgrey; */
	    margin: 0;
	    padding: 20px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 100vh; /* 전체 화면 높이 */
	}
	
	.container {		
	    background-color: #F08080; 
	    border: 1px solid lightgrey;
	    padding: 20px;
	    border-radius: 50px 10px;
	    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
	    max-width: 400px; /* 컨테이너 최대 너비 조정 */
	    width: 100%;
	}
	
	h1 {		
		font-family: "Do Hyeon", sans-serif;
  		font-weight: 400;
	    text-align: center;
	    color: deepgrey;
	    margin-bottom: 20px;
	}
	
	.tabs {
	    display: flex;
	    
	}
	
	.tab-button {
	    flex: 1;
	    padding: 10px;
	    border: 1px solid lightgrey;
	    background-color: #f9f9f9;
	    color: #333;
	    cursor: pointer;
	    text-align: center;
	    font-size: 16px;
	    border-radius: 15px 15px 0 0;
	    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
	    margin-top: -50px;
	}
	
	.tab-button.active {
	    background-color: #E9967A;
	    color: #000;
	    border: 1px solid #ccc; /* 선택된 탭에 테두리 추가 */
	    border-bottom: 1px solid white; /* 선택된 탭의 아래 테두리 제거 */
	}
	
	.tab-button:not(.active) {
	    border: 1px solid transparent; /* 비활성 탭에는 테두리 제거 */
	}
	
	.tab-button:not(.active):hover {
	    background-color: #E9967A; /* 비활성 탭의 호버 배경색 */
	}
	
	.tab-button:hover {
	    background-color: #E9967A;
	}
	
	.tab-content {
	    display: none;
	}
	
	.tab-content form {
	    display: flex;
	    flex-direction: column;
	}
	
	label {
		font-family: "Do Hyeon", sans-serif;
	    margin-bottom: 8px;
	    color: black;
	}
	
	input[type="text"], input[type="password"] {
	    width: 100%;
	    padding: 8px;
	    border: 1px solid grey;
	    border-radius: 10px;
	    padding-left: 40px;
	    margin-bottom: 12px;
	    box-sizing: border-box;
	    background-color: #FFFFF0;
	}
	
	button {
	    width: 100%;
	    padding: 10px;
	    border: none;
	    border-radius: 30px;
	    background-color: #E9967A;
	    color: white;
	    font-size: 16px;
	    margin-bottom: 10px;
	    cursor: pointer;
	    font-family: "Do Hyeon", sans-serif;
	}
	
	button:hover {
	    background-color: #4a90e2;
	}
	
	p {
	    text-align: right;
	}
	
	p a {
	    font-family: Arial, sans-serif;
	    text-decoration: none;
	    font-size: 12px;
	    color: teal;
	}
	
	p a:hover {
	    text-decoration: underline;
	}
	
	.mainpic {
		position: relative;
		left: 105px;
		bottom: 110px;			
	}