/* 전체 문자 인코딩 설정 */
@charset "UTF-8";

::-webkit-scrollbar {
  	display: none; /* 스크롤바 숨기기 */
}
    	
/* 기본 스타일 초기화 */
body, h1, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 본문 스타일 설정 */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff; /* 흰색 배경 */
    color: #333; /* 다크 그레이 텍스트 */
}

/* 제목 스타일 */
#title {
    background: #000000; /* 검은색 배경 */
    color: #ffffff; /* 흰색 글씨 */
    padding: 20px; /* 여백 */
    text-align: center; /* 중앙 정렬 */
    border-radius: 8px; /* 둥근 모서리 */
}

/* 내용 상자 스타일 */
#content_box {
    max-width: 900px; /* 최대 너비 */
    margin: 30px auto; /* 자동 중앙 정렬 */
    padding: 20px; /* 여백 */
    background: #ffffff; /* 흰색 배경 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 미세한 그림자 효과 */
}

/* 리스트 아이템 스타일 */
li {
    padding: 15px; /* 여백 */
    border-bottom: 1px solid #e0e0e0; /* 아래쪽 경계선 */
    transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
}

li:last-child {
    border-bottom: none; /* 마지막 아이템 경계선 제거 */
}

li:hover {
    background-color: #f0f0f0; /* 마우스 오버 시 밝은 회색 배경 */
}

.info {
    display: flex; /* Flexbox 사용 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top: 5px; /* 상단 여백 */
    color: #888; /* 회색 글씨 */
}

.author, .date {
    margin-right: 30px; /* 오른쪽 여백 */
}

.date {
    margin-right: 0; /* 마지막 요소에는 오른쪽 여백 제거 */
}


/* 링크 스타일 */
.title_click {
    text-decoration: none; /* 밑줄 없음 */
    color: #007BFF; /* 블루 글씨 */
    font-weight: bold; /* 굵은 글씨 */
}

.title_click:hover {
    text-decoration: underline; /* 마우스 오버 시 밑줄 */
}

/* 날짜 및 작성자 스타일 */
small {
    display: block; /* 블록 요소로 변경 */
    color: #888; /* 회색 글씨 */
    margin-top: 5px; /* 상단 여백 */
}

/* 페이지네이션 버튼 스타일 */
#button {
    text-align: center; /* 중앙 정렬 */
    margin: 20px 0; /* 상하 여백 */
}

#button a {
    margin: 0 5px; /* 좌우 여백 */
    padding: 10px 15px; /* 여백 */
    background: #000000; /* 검은색 배경 */
    color: white; /* 흰색 글씨 */
    text-decoration: none; /* 밑줄 없음 */
    border-radius: 5px; /* 둥근 모서리 */
    transition: background 0.3s; /* 배경색 변화 애니메이션 */
}

#button a:hover {
    background: #444444; /* 마우스 오버 시 어두운 회색 */
}

#button strong {
    margin: 0 5px; /* 좌우 여백 */
    font-weight: bold; /* 굵은 글씨 */
    color: #000; /* 검은색 글씨 */
}

button {
    padding: 10px 15px; /* 여백 */
    background: #000000; /* 검은색 배경 */
    color: white; /* 흰색 글씨 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 포인터 커서 */
    transition: background 0.3s; /* 배경색 변화 애니메이션 */
}

button:hover {
    background: #444444; /* 마우스 오버 시 어두운 회색 */
}
.image-container {
    display: none; /* 초기 상태에서 이미지를 숨김 */
    margin-top: 10px;
}
.toggle-button {
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */ 
}

/* 푸터바 위 슬라이더쇼 */

@keyframes moveBg {
  from { background-position: 0 50%; }
  to { background-position: -1134px 50%; }
}

.slidershow {

  --contrast: 150%;
  --speed: 10s;
  height: 85px; /* 전체 높이 */
  width: 100vw;  /* 전체 너비 */
  position: relative;
  overflow: hidden; /* 자식 요소가 범위를 넘어가지 않도록 함 */
  margin-bottom: 0; /* 푸터와 간격을 없앰 */
}

.mask {
  position: absolute;
  inset: 0;
  background: #0000;  
  -webkit-mask: linear-gradient(90deg, #000 50px, #0000 175px calc(100% - 175px), #fff calc(100% - 50px));
  pointer-events: none;
}

.logos {
  height: 100px;
  animation: moveBg var(--speed) linear infinite;
  position: absolute;
  inset: 0;
  background: url(img/brandslide.png) 0 50% / 567px 75px repeat-x;
  -webkit-mask: linear-gradient(90deg, #0000 5px, #000 50px calc(100% - 50px), #0000 calc(100% - 5px));
}

/* 두 번째 캐러셀의 아이콘을 더 크게 만들고 흐림 효과 추가 */
.slidershow:nth-of-type(2) {

  .logos {
    background: url(img/brandslide.png) 0 50% / 1134px 150px repeat-x;
  }
}

.Ann_admin_commit {
    padding: 6.5px 15px; /* 여백 */
    background: #000000; /* 검은색 배경 */
    color: white; /* 흰색 글씨 */
    text-decoration: none; /* 밑줄 없음 */
    border-radius: 5px; /* 둥근 모서리 */
    transition: background 0.3s; /* 배경색 변화 애니메이션 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 포인터 커서 */
    height: auto; /* 높이를 자동으로 조정 */
}

.Ann_admin_commit:hover {
    background: #444444; /* 마우스 오버 시 어두운 회색 */
}

/* 구글폰트 */
.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 메인페이지 3번째 영역 백그라운드 이미지 효과 */
.third {
    background-image: url('img/main_dataAnalysis.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    background-size: cover; /* 이미지가 요소를 덮도록 설정 */
    background-position: center; /* 이미지 중앙 정렬 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100vw;
    margin-top: -70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
}

/* 메인 3번째 섹션 효과 */
    .third-hover-button {
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        width: 500px;
        height: 250px;
        margin: 10px 200px 20px 0px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 25px;
        color: white;
        transition: background-color 0.3s; /* 부드러운 전환 효과 */
        display: flex; 
        flex-direction: column; 
        padding-left: 50px; 
        align-items: flex-start;
    }

    .third-hover-button:hover {
        background-color: rgba(255, 255, 255, 0.9); /* 버튼 1의 색상 */
        color: black;
    }

    .third-hover-button2 {
        background-color: rgba(0, 200, 0, 0.3);
        border: none;
        width: 500px;
        height: 200px;
        margin: 10px 200px 0px 0px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 25px;
        color: white;
        transition: background-color 0.3s; /* 부드러운 전환 효과 */
        display: flex; 
        flex-direction: column; 
        padding-left: 50px; 
        align-items: flex-start;
        margin-top:-10px;
    }

    .third-hover-button2:hover {
        background-color: rgba(100, 200, 100, 0.9); /* 버튼 2의 색상 */
    }
    
    .third-hover-button p {
    	margin-top: 20px; 
    	display: flex; 
    	align-items: center;
    }
    
    .third-hover-button img {
    	width:200px; 
    	height:130px; 
    	border-radius: 10px; 
    	margin-top: 10px;
    }
    
    .third-hover-button2 p {
    	margin-top: 20px; 
    	display: flex; 
    	align-items: center;
    }
    
    /* 두번째 섹션 */

	#inc03{position:relative;margin:-64px 0px 63px 0px;padding:180px 90px 180px 90px; background-color: black;}
	
	/* Title */
	#inc03 .tit p {
	    font-size: 70px;
	    font-weight: 700;
	    line-height: 1.2;
	    color: rgb(255, 255, 255); /* 제목 글자색 */
	}
	
	#inc03 .tit p span {
	    color: rgb(255, 255, 255); /* span 내의 글자색 */
	}
	
	#inc03 .tit div {
	    margin: 60px 0 60px 150px;
	    font-size: 25px;
	    color: rgb(255, 255, 255); /* div 내의 글자색 */
	}

	
	/* Content */
	#inc03 .cont {
	    display: flex;
	    gap: 100px;
	    position: relative;
	    padding-left: calc(50% - 90px);
	    z-index: 1;
	}
	
	#inc03 .cont:before {
	    content: "";
	    position: absolute;
	    bottom: 106px;
	    left: -5%;
	    width: 1px;
	    height: 1px;
	    background: rgb(255, 255, 255, .12);
	    transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}
	
	#inc03 .cont.aos-animate:before {
	    width: 100vw;
	}
	
	#inc03 .cont li {
	    font-size: 20px;
	    font-weight: 500;
	    text-align: center;
	    line-height: 1.8;
	    border-bottom: 3px solid #e0e0e0; /* 아래쪽 경계선 */
	    color: rgb(255, 255, 255); /* 글자색을 흰색으로 설정 */
	}
	
	#inc03 .cont li span {
	    font-size: 80px;
	    font-weight: 100;
	    color: rgb(255, 255, 255); /* 글자색을 흰색으로 설정 */
	}
	
	#inc03 .cont li p {
	    position: relative;
	    padding-bottom: 90px;
	    color: rgb(255, 255, 255); /* 글자색을 흰색으로 설정 */
	}
	
	#inc03 .cont li p:after {
	    content: "";
	    position: absolute;
	    bottom: 0px;
	    left: 50%;
	    transform: translateX(-50%);
	    width: 7px;
	    height: 7px;
	    border-radius: 50%;
	    background-color: var(--primary);
	}
	
	#inc03 .cont li div {
	    padding-top: 50px;
	    font-size: 20px;
	    font-weight: 400;
	    line-height: 1.8;
	    text-align: center;
	    color: rgb(255, 255, 255, 0.5); /* 글자색을 흰색으로 설정 */
	}
	
	/* 호버 효과 추가 */
	#inc03 .cont li:hover {
	    background-color: rgba(255, 255, 255, 0.5); /* 반투명 흰색 배경 */
	    color: rgb(0, 0, 0); /* 검정색 글자색 */
	}
	
	#inc03 .cont li:hover span,
	#inc03 .cont li:hover p,
	#inc03 .cont li:hover div {
	    color: rgb(0, 0, 0); /* 호버 시 검정색 글자색 */
	}

	
	/* Bg */
	#inc03 {
	    position: relative; /* 자식 요소의 절대 위치를 기반으로 설정 */
	    overflow: hidden; /* 영역 밖으로 나가는 콘텐츠 숨기기 */
	}
	
	#inc03 .bg {
	    position: absolute;
	    top: 50px;
	    right: -120%; /* 배경을 왼쪽으로 이동 */
	    transform: translateX(-50%); /* 가운데 정렬을 위한 변환 */
	    z-index: 0; /* 배경이 제일 뒤에 있도록 설정 */
	    background: transparent; 
	    width: 100vw;
	}
	
	#inc03 .bg span {
	    display: inline-block;
	    position: relative;
	    font-size: 680px;
	    font-weight: 700;
	    line-height: 1;
	    color: #294f4d;
	    
	}
	
	#inc03 .bg span:after {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
	}
	
	#inc03 .bg span:nth-child(1) {
	    transform: translate(-220px, 4px);
	}
	
	#inc03 .bg span:nth-child(2) {
	    transform: translate(-330px, 4px);
	}
	
	#inc03 .bg span:nth-child(3) {
	    transform: translate(-470px, 4px);
	}
	
	/* 상단으로 가기 버튼 */
	.company-back-to-tabs {
		    position: fixed; /* 고정 위치 */
		    bottom: 20px; /* 하단 간격 */
		    right: 20px; /* 오른쪽 간격 */
		    z-index: 100; /* 다른 요소 위에 표시 */
		}
	
	/* 의뢰 게시판 로딩 액션 */
	.loading {
	    display: none; /* 기본적으로 숨김 */
	    position: fixed;
	    top: 50%;
	    left: 50%; /* 왼쪽을 50%로 설정 */
	    transform: translate(-50%, -50%); /* 중앙 정렬 */
	    width: auto; /* 너비를 자동으로 조정 */
	    height: auto; /* 높이를 자동으로 조정 */
	    background-color: transparent; /* 배경을 투명하게 설정 */
	    text-align: center;
	    padding: 20px; /* 패딩 조정 */
	    font-size: 18px; /* 글자 크기 조정 */
	    border: none; /* 경계 제거 */
	    box-shadow: none; /* 그림자 제거 */
	}
	
	
	.spinner-border {
	    animation: spin 1s linear infinite; /* 애니메이션 효과 */
	}
	
	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
	    